@import '../common/variables';

// ============ FONT COLOR
.text-blue {
    color: $primary;
}

.text-dark {
    color: $secondary !important;
}

.text-lightgray {
    color: $lightgray;
}

.text-gray {
    color: $gray !important;
}

.res-text-white {
    @include media-breakpoint-down(lg) {
        color: $white !important;
    }
}

// ============ FONT SIZE
.fontX {
    font-size: $fontX;
}

.fontS {
    font-size: $fontS;
}

.fontM {
    font-size: $fontM;
}

.fontL {
    font-size: $fontL;
}

.fontXX {
    font-size: $fontXX;
}

.fontXS {
    font-size: $fontXS;
}

.fontXM {
    font-size: $fontXM;
}

.fontXL {
    font-size: $fontXL;
}

.fontSX {
    font-size: $fontSX;
}

.fontSS {
    font-size: $fontSS;
}

.fontSM {
    font-size: $fontSM;
}

.fontSL {
    font-size: $fontSL;
}

.fontMX {
    font-size: $fontMX;
}

.fontMS {
    font-size: $fontMS;
}

.fontMM {
    font-size: $fontMM;
}

.fontML {
    font-size: $fontML;
}

.fontLX {
    font-size: $fontLX;
}

.fontLS {
    font-size: $fontLS;
}

.fontLM {
    font-size: $fontLM;
}

.fontLL {
    font-size: $fontLL;
}

// ============ RES FONT SIZE
@include media-breakpoint-down(lg) {
    .res-fontX {
        font-size: $fontX;
    }

    .res-fontS {
        font-size: $fontS;
    }

    .res-fontM {
        font-size: $fontM;
    }

    .res-fontL {
        font-size: $fontL;
    }

    .res-fontXX {
        font-size: $fontXX;
    }

    .res-fontXS {
        font-size: $fontXS;
    }

    .res-fontXM {
        font-size: $fontXM;
    }

    .res-fontXL {
        font-size: $fontXL;
    }

    .res-fontSX {
        font-size: $fontSX;
    }

    .res-fontSS {
        font-size: $fontSS;
    }

    .res-fontSM {
        font-size: $fontSM;
    }

    .res-fontSL {
        font-size: $fontSL;
    }

    .res-fontMX {
        font-size: $fontMX;
    }

    .res-fontMS {
        font-size: $fontMS;
    }

    .res-fontLM {
        font-size: $fontLM;
    }

    .res-fontMM {
        font-size: $fontMM;
    }

    .res-fontML {
        font-size: $fontML;
    }

    .res-fontLX {
        font-size: $fontLX;
    }

    .res-fontLS {
        font-size: $fontLS;
    }

    .res-fontLL {
        font-size: $fontLL;
    }

    .res-fw-medium {
        font-weight: 500 !important;
    }
}

// ============ LEADING
.leadingX {
    line-height: $leadingX;
}

.leadingS {
    line-height: $leadingS;
}

.leadingM {
    line-height: $leadingM;
}

.leadingL {
    line-height: $leadingL;
}

.leadingXX {
    line-height: $leadingXX;
}

.leadingXS {
    line-height: $leadingXS;
}

.leadingXM {
    line-height: $leadingXM;
}

.leadingXL {
    line-height: $leadingXL;
}

.leadingSX {
    line-height: $leadingSX;
}

.leadingSS {
    line-height: $leadingSS;
}

.leadingSM {
    line-height: $leadingSM;
}

.leadingSL {
    line-height: $leadingSL;
}

.leadingMX {
    line-height: $leadingMX;
}

.leadingMS {
    line-height: $leadingMS;
}

.leadingMM {
    line-height: $leadingMM;
}

.leadingML {
    line-height: $leadingML;
}

.leadingLX {
    line-height: $leadingLX;
}

.leadingLM {
    line-height: $leadingLM;
}

.leadingLS {
    line-height: $leadingLS;
}

// ============ RES LEADING
@include media-breakpoint-down(lg) {
    .res-leadingX {
        line-height: $leadingX;
    }

    .res-leadingS {
        line-height: $leadingS;
    }

    .res-leadingM {
        line-height: $leadingM;
    }

    .res-leadingL {
        line-height: $leadingL;
    }

    .res-leadingXX {
        line-height: $leadingXX;
    }

    .res-leadingXS {
        line-height: $leadingXS;
    }

    .res-leadingXM {
        line-height: $leadingXM;
    }

    .res-leadingXL {
        line-height: $leadingXL;
    }

    .res-leadingSX {
        line-height: $leadingSX;
    }

    .res-leadingSS {
        line-height: $leadingSS;
    }

    .res-leadingSM {
        line-height: $leadingSM;
    }

    .res-leadingSL {
        line-height: $leadingSL;
    }

    .res-leadingMX {
        line-height: $leadingMX;
    }

    .res-leadingMS {
        line-height: $leadingMS;
    }

    .res-leadingMM {
        line-height: $leadingMM;
    }

    .res-leadingML {
        line-height: $leadingML;
    }

    .res-leadingLX {
        line-height: $leadingLX;
    }
}

// ============ BORDER RADIUS
.radiusX {
    border-radius: $radiusX;
}

.radiusS {
    border-radius: $radiusS;
}

.radiusM {
    border-radius: $radiusM;
}

.radiusL {
    border-radius: $radiusL;
}

.radiusXX {
    border-radius: $radiusXX;
}

.radiusXS {
    border-radius: $radiusXS;
}

.radiusXM {
    border-radius: $radiusXM;

}

.radiusXL {
    border-radius: $radiusXL;
}

.radiusSX {
    border-radius: $radiusSX;
}

.border-grayOne {
    border: 1px solid $grayOne;
}

.no-radius {
    @include media-breakpoint-down(lg) {
        border-radius: 0 !important;
    }
}

// ============ BACKGROUND COLOR
.bg-primary {
    background-color: $primary !important;
}

.bg-shareGray {
    background-color: $shareGray !important;
}

.bg-gray {
    background-color: $gray !important;
}

.bg-grayTwo {
    background-color: $grayTwo;
}

.bg-purple {
    background-color: $purple !important;
}

.bg-lightgray {
    background-color: $lightgray !important;
}

.bg-grayThree {
    background-color: $grayThree !important;
}

// ============ RES FONT WEIGHT
@include media-breakpoint-down(lg) {
    .res-fw-semibold {
        font-weight: 600 !important;
    }

    .res-fw-regular {
        font-weight: 400 !important;
    }
}